/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.box {
    width: 100%;
    font-size: 17px;
    line-height: 20px;
}

.tebel, .subjudul, .subjudullagi {
  font-weight: bold;
}

.miring {
  font-style: italic;
}

/*.header {
    width: 100%;
    height: 40px;
    background-color: #FFF2D8;
}*/

.homepict{
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url(homepictt.jpg);
    background-color: aqua;
    background-size: cover;
    background-position: 0 -250px;
    text-align: center;
    color: #fff;
    margin-top: -50px;
}

.homepict h1 {
    font-size: 100px;
    transform: translateY(200px);
}

.homepict p {
    transform: translateY(250px);
}

.menu {
    margin: 40px auto;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color:beige;
  text-decoration: none;
}

:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --black: black;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ol {
    list-style: none;
  }
  
  body {
    margin: 50px 0 100px;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  
  .container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
  }
  
  .rectangle {
    position: relative;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }
  
  
  /* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-1 {
    width: 50%;
    margin: 0 auto 40px;
    background: var(--level-1);
  }
  
  .level-1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  /* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper li {
    position: relative;
  }
  
  .level-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: var(--black); /*tangkai atas level 2*/
  }
  
  .level-2 {
    width: 70%;
    margin: 0 auto 40px;
    background: var(--level-2);
  }
  
  .level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    /*background: var(--black);*/
  }

  .pro {
    background: var(null);
  }

  .eu::before{
    background: var(--black);
  }
  
  .level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
  }
  
  .level-3-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 20px;
    background: var(--black);
  }
  
  .level-3 {
    margin-bottom: 20px;
    background: var(--level-3);
  }
  
  
  /* LEVEL-4 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-4-wrapper {
    position: relative;
    width: 80%;
    margin-left: auto;
  }
  
  .level-4-wrapper::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 2px;
    height: calc(100% + 20px);
    background: var(--black);
  }
  
  .level-4-wrapper li + li {
    margin-top: 20px;
  }
  
  .level-4 {
    font-weight: normal;
    background: var(--level-4);
  }
  
  .level-4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 700px) {
    .rectangle {
      padding: 20px 10px;
    }
  
    .level-1,
    .level-2 {
      width: 100%;
    }
  
    .level-1 {
      margin-bottom: 20px;
    }
  
    .level-1::before,
    .level-2-wrapper > li::before {
      display: none;
    }
    
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
      display: block;
    }
  
    .level-2-wrapper {
      width: 90%;
      margin-left: 10%;
    }
  
    .level-2-wrapper::before {
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
    }
  
    .level-2-wrapper > li:not(:first-child) {
      margin-top: 50px;
    }
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .page-footer a {
    margin-left: 4px;
  }
  */

    .celldefinition {
      background-color: #FFFFEC;
      padding: 20px 60px;
      text-align: left;
    }

    .subjudul {
      font-size: 30px;
    }

    .subjudullagi {
      font-size: 20px;
    }

    .prokariotikvseukariotik {
      background-color: #FFFFEC;
      padding: 20px 60px;
      text-align: left;
    }

    
.containertampilansel {
  padding: 30px auto;
}

.tampilanselhewan {
  width: 50%;
  float: left;
  padding: 30px auto;
  /*background-color: blueviolet;*/
}

.tampilanseltumbuhan {
  width: 50%;
  /*background-color: brown;*/
  float: left;
}

.containertampilansel img {
  width: 300px;
  margin: 30px auto 0;
  /*background-color: #8dccad;*/
}


/*
.tampilanselhewan h3,
.tampilanseltumbuhan h3 {
  margin: 10px auto 30px;
}*/


.tampilanselhewan,
.tampilanseltumbuhan {
  width: calc(20% - 20px); /* Mengatur lebar elemen agar lima gambar dapat muat dalam satu baris */
  margin: 0 10px; /* Mengatur jarak antara elemen */
}





/* untuk membuat agar responsif */
.containertampilansel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Mengizinkan elemen untuk membungkus ke baris baru */
}

.tampilanselhewan,
.tampilanseltumbuhan {
  flex: 1; /* Membuat elemen menyesuaikan lebar */
  margin: 0 10px; /* Mengatur jarak antara elemen */
  max-width: 300px; /* Mengatur lebar maksimum untuk menghindari terlalu melebar */
  display: flex; /* Mengatur tampilanselhewan dan tampilanseltumbuhan menjadi flex container */
  flex-direction: column; /* Mengatur tampilanselhewan dan tampilanseltumbuhan agar isinya berjajar ke atas dan bawah */
  align-items: center; /* Mengatur konten tampilanselhewan dan tampilanseltumbuhan menjadi berada di tengah */
  text-align: center; /* Mengatur teks di tengah */
}

.tampilanselhewan img,
.tampilanseltumbuhan img {
  max-width: 100%; /* Mengatur gambar agar tidak melebihi lebar kontainer */
  height: auto; /* Mengatur agar rasio aspek gambar dipertahankan */
}




/*
@media screen and (max-width: 768px) {
  .containertampilansel {
      flex-direction: column;
      align-items: center;
  }

  .tampilanselhewan,
  .tampilanseltumbuhan {*/
      /*margin: 5px 0; *//* Mengatur jarak antara elemen dalam satu kolom 
  }
}*/

@media screen and (max-width: 768px) {
  .containertampilansel {
    flex-direction: column;
    align-items: center;
  }

  .tampilanselhewan,
  .tampilanseltumbuhan {
    width: calc(40% - 10px); /* Mengatur lebar elemen agar dua gambar dapat muat dalam satu baris pada tampilan layar kecil */
    margin: 5px 0; /* Mengatur jarak antara elemen dalam satu kolom */
  }
}


    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .cf:after {
        clear: both;
    }

    /**
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    
    .cf {
        *zoom: 1;
    }*/

